.archive {
  background: white;
  margin: 2em auto;
  max-width: 60rem;
  padding: 2em 0;
  box-shadow: 12px 18px 24px rgba(darken($brand-color, 50%), .1);
  text-align: center;

  .post-list {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
}
