.comment-form {
  .feedback {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    background: #fddd00;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
  }

  .submit {
    width: 100%;
    outline: inherit;
    font-family: Garamond;
    font-size: 15px;
    background-color: #000;
    border: 2px solid #000;
    color: white;
    padding: 16px 32px;
    text-decoration: solid;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    font-weight: bold;
  }

  .submit[type=submit]:hover {
    background-color: #fede00;
    border: 2px solid #000;
    border-radius: 4px;
    text-emphasis-color: black;
    color: black;
  }

  &.-is-submitted {
    .feedback { display: block; }
  }
}

.comment-list {
  text-align: left;

  .comment {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    .header {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 10px;
      .name { flex: 1; }
      .time { font-size: 14px; }
    }
    .message {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .loader,
  .empty-state { 
    display: none;
    text-align: center;
  }

  &.-is-loading {
    .loader { display: block; }
  }

  &.-is-empty {
    .empty-state { display: block; }
  }
}
