---
---

@charset "utf-8";

$asset_url: '{{ '/assets' | absolute_url }}';

@import 
  "reset",
  "variables",
  "syntax-highlighting",
  "mixins",
  "font",
  "base",
  "masthead",
  "menu",
  "post-list",
  "article",
  "footnotes",
  "search"
;

input {
    width: 100%; 
	outline: inherit;
	border: 2px solid #000;
    font-family: Garamond;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

input[type=text] {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Garamond;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

input[type=button], input[type=submit] {
  background-color: #000;
  border: 2px solid #000;
  color: white;
  padding: 16px 32px;
  text-decoration: solid;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
  font-weight: bold;
}

input[type=submit], span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #fede00;
  border: 2px solid #000;
  border-radius: 4px;
  text-emphasis-color: black;
  color: black;
}

textarea {
  outline: none;
  border: none;
  resize: none;
}
    
textarea:focus, input:focus {
  border-color: #fede00 !important;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}