---
---

@charset "utf-8";

$asset_url: '{{ '/assets' | absolute_url }}';

@import 
  "reset",
  "variables",
  "syntax-highlighting",
  "mixins",
  "font",
  "base",
  "masthead",
  "menu",
  "post-list",
  "article",
  "footnotes",
  "search"
;

.button[type=button], span {
  display: block;
  word-break: keep-all;
  text-align: center;
  background-color: #000;
  border: 2px solid #000;
  color: white;
  padding: 16px 32px;
  text-decoration: solid;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
  font-weight: bold;
}

.button[type=button]:hover {
  background-color: #fede00;
  border: 2px solid #000;
  text-emphasis-color: #000;
  color: #000;
}

.buttonrestrito[type=button], span {
  display: block;
  word-break: keep-all;
  text-align: center;
  background-color: #000;
  border: 2px solid #000;
  color: white;
  padding: 16px 32px;
  text-decoration: solid;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
  font-weight: bold;
}

.buttonrestrito[type=button]:hover {
  background-color: #fe0000;
  border: 2px solid #000;
  text-emphasis-color: #FFF;
  color: #FFF;
}

.textofluxo {
  display: block;
  margin-top: 1em;
}

input {
    width: 100%; 
	outline: inherit;
	border: 2px solid #000;
    font-family: Garamond;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

input[type=text], [type=email] {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
}

input[type=text], [type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Garamond;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

input[type=button], input[type=submit] {
  background-color: #000;
  border: 2px solid #000;
  color: white;
  padding: 16px 32px;
  text-decoration: solid;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
  font-weight: bold;
}

input[type=submit], span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-weight: bold;
}

input[type=submit]:hover {
  background-color: #fede00;
  border: 2px solid #000;
  border-radius: 4px;
  text-emphasis-color: black;
  color: black;
}

textarea {
  outline: none;
  border: none;
  resize: none;
}
    
textarea:focus, input:focus {
  border-color: #fede00 !important;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.pcmr {
  width: 15%;
  height: auto;
  float: right;
}

.image-wrapper {
  display: table;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin-right: 1em;
  float: left;
    
    figcaption {
      padding: 0.5em;
      padding-top: none;
      color: black;
      background-color: rgba(254,222,0, 0.3);
      display: table-caption;
      caption-side: bottom;
    }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
  margin: 0px;
}

.pgdesc {
  font-size: 1em;
  font-weight: 700;
  margin: 2.25em auto;
  text-align: justify;
  text-justify: inter-word;

}