---
layout: default
comments: true
---

{% if site.data.menu %}
  {% include menu.html %}
{% else %}
  {% include back-link.html %}
{% endif %}
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">  {% include breadcrumbs.html %}

  {% if page.title != "" %}
    <h1 itemprop="name headline" class="post-title divided p-name">
     {{ page.title }}</h1>
    {% endif %}
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  <div class="post-meta">
    {% if page.author %}
      <div itemprop="author">{{ page.author }}</div>
    {% endif %}
    <time datetime="{{ page.date | date_to_xmlschema }}">
   {% include date.html date=page.date %}
</time>
  </div>
    <hr>
    <div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
<hr>
<form class="comment-form" method="POST" data-permalink="{{ page.permalink }}">
  <center><strong><h5>Comenta aí, pô. Nunca te pedi nada! 😤</h5></strong></center>
  <input type="text" name="name" id="name" placeholder="Sua alcunha" required />
  <input type="email" name="email" id="email" placeholder="Seu endereço eletrônico" required />
  <input class="button" type="text" id="message" name="message" placeholder="Comente e me faça feliz 💛 (dependendo do comentário, claro.)" required />
  <br/>
  <button class="submit" type="submit">Publique seu comentário</button>
  <span class="feedback">
    Obrigado pelo seu tempo! Em breve seu comentário será publicado :D
  </span>
</form>

<hr>

<div class="comment-list -is-loading" data-permalink="{{ page.permalink }}">
  <span class="loader">
    Carregando comentários...
  </span>
  <span class="empty-state">
    Não existem comentários ainda, seja o primeiro! :)
  </span>
</div>

</article>
